*{
    margin:0;
    padding:0;

}

/* html{
  scroll-behavior: smooth;
} */
c{
    color: rgb(255, 255, 255);
}
header {
    text-align:center;
}

.upper{
    padding:500px;
    line-height: 1.2;
    margin-bottom: -1px;
    background-color: #000000;
    ;
}
body{
    background-size: 70%;
}
#akgec{
    padding:40px;
    color:rgb(255, 253, 253);
    font-size: 40px;

}
#upper{
    background-image: url('./assets/front.png'); 
    background-color :rgb(255, 255, 255); 
    background-repeat: no-repeat;
    width:90%;
    /* opacity: 1; */
    background-size: cover;
    height:300px;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 130px;
    text-decoration: none;
    /* text-shadow: #760606; */
  }
  
  li a:hover {
    background-color: #111;
  }
  div.scroll-container {
    padding-top: 10px;
    background-color: #333;
    /* overflow: auto; 
     white-space: nowrap;  */
    padding: 10px;
  }
  
  div.scroll-container img {
    padding: 0px;
  }


  .row{
    display: flex;
    flex-direction: row;
    /* justify-content: ; */
    border: rgb(7, 7, 7) solid;
    border-width: 0.4rem;
     border-left: 0rem;
    border-right: 0rem;
    border-bottom: 0rem;
    align-items: center;
  }
  #mainHeadImg{
    width: 70vw;
  }
  .imgVertical{
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 15%;
    
  }
  .left1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: #f1f1f1;
  }
  .left2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: #f1f1f1;
  }
  .left3{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: #f1f1f1;
  }
  .leftOne{
    
    color: white;
    width: 120%;
  }
  .middleOne{
    
    color: white;
    width: 120%;
  }
  .middle{
    background-color: #1f1d1f;
  }
  .righteOne{
    display: flex;
    flex-direction: column;
  }
  h3{
    color: #f1f1f1;
  }
  p{
    color: #f1f1f1;
  }
 
  .footerr{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: none;
    background-color: #1f1d1f;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
    top: 0;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .department:hover .dropbtn {
    background-color: rgb(222, 219, 16);
  }
  
  li.department {
    display: inline-block;
  }
  
  .Department-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .Department-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .Department-content a:hover {background-color: #f1f1f1;}
  
  .Department:hover .Department-content {
    display:block;}
  
 #About{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1f1f1;
  justify-content: space-between;
  padding-bottom: 1%;
 }
 #hFour{
  color: #000000;
  font-size: xx-large;
  padding-top: 2%;
  padding-bottom: 1%;
 }
 .combination{
  display: flex;
  flex-direction: row;
  align-items: center;

 }
 .content{
  display:flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
 }
 .button{
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;

    cursor: pointer;
    background-color: rgb(0, 110, 255);
 }

 .under{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  background-color: #ffffffe2;
  /* color: #000000; */
 }
 .featuredImg1{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: none;
  padding-left: 2%;
  padding-right: 2%;
  background-color: #ffffffe2;
  /* color: #000000; */
 }
 .overAll{
    display: flex;
    flex-direction: column;
    padding-bottom: 1%;
    align-items: center;
    justify-content: none;
    background-color: #ffffffe2;
    border: yellow solid;
    border-width: 0.4rem;
     border-left: 0rem;
    border-right: 0rem;
    /* border-bottom: rem;  */
    /* color: #000000; */
 }
 .row2{
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: none;
    background-color: #fbf9f9e2;
    border: rgb(124, 121, 121) solid;
    border-width: 0.1rem;
    width: 99%;
     /* border-left: 0rem;
    border-right: 0rem;
    border-bottom: 0rem; */
    /* color: #000000; */
 }
 .row1{
  border: rgb(124, 121, 121) solid;
    border-width: 0.1rem;
     /* border-left: 0rem;
    border-right: 0rem;*/
    width: 99%;
    border-bottom: 0rem; 
 }
 .ourFeaturdCorses{
    font-size: x-large;
    padding-bottom: 2%;
    text-decoration-line: underline ;
 }
 .color{
  color: #000000;
 }
 .color6{
  color: #000000;
  padding-left: 2%;
  padding-right: 18%;
 }
 .color7{
  color: #000000;
  padding-left: 2%;
  padding-right: 20%;
 }
 .color8{
  color: #000000;
  padding-left: 2%;
  padding-right: 20%;
 }

 .Our{
  color: #000000;
 }
 .blank{
  display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    padding-top: 7%;
    border: rgb(35, 33, 33) solid;
    border-width: 0.4rem;
     border-left: 0rem;
    border-right: 0rem;
    border-bottom: 1rem;
    padding-bottom: 7%;
    z-index: 1;
    clear: both;
  
    
 }
 .box{
  display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    /* clear: both; */
    /* padding-left; */
    /* background-color: #fbf9f9e2; */
    /* opacity: 0.3; */
 }
 /* .miniBox{
   margin-left: 15%; 
  margin-right: 15%;
 } */
 .color3{
  color: #000000;
 }
 .color2{
  color:yellow;
  font-size: x-large;
  /* padding-top: -6%; */
  font-weight: bolder;
 }
.backImg{
  position: fixed;
  width: 100vh;
  height: 100vw;
  z-index: -1;
}
#lastDiv{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border: yellow solid;
    border-width: 0.4rem;
     border-left: 0rem;
    border-right: 0rem;
    border-top: 0rem;
  justify-content: space-evenly;

}
.firstHead{
  display: flex;
  flex-direction: column;
  padding-right: 7%;
  align-items: center;
  padding-left: 2%;
  justify-content: space-between;
}
.secoundHead{
  display: flex;
  flex-direction: column;
  padding-right: 2%;
  align-items: center;
  justify-content: space-between;
}
.headImg2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.heading1{
  color: #000000;
  font-size: x-large;
  font-weight: bolder;
  padding-bottom: 8%;
  padding-top: 4%;
}
.headCount2{
  color: #000000;
  text-align: center;
}
.headCont1{
  color: #000000;
  font-size: large;
  text-align: center;
  padding-bottom: 3%;
  padding-top: 2%;
  font-weight: bold;
}
.imgPad{
  padding-bottom: 8%;
  padding-top: 12%;
}
.imgPad2{
  padding-bottom: 3%;
  padding-top: 3%;
}
.scroll-container{
  position: relative;
  text-align: center;
  color: black;
}
.centerText{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.centerHead{
  font-size: xx-large;
  font-weight: bolder;
  background-color: #111;
  padding-left: 2%;
  padding-bottom: 2%;
  padding-top: 1%;
  margin-bottom: 2%;
  color: #d1c604;
}
.cnterContent{
  font-size: x-large;
  font-weight: bold;
  text-align: start;
  color: #f1f1f1;
}
.symbolPad{
  margin-left: 1%;
  margin-right: 1%;
}
.home{
  margin-right: 1%;
}